#page-map {
	@include size(100vw, 100vh);
	position: relative;
	display: flex;

	aside {
		width: 44rem;
		background: linear-gradient(329.54deg, var(--blue-400) 0%, var(--blue-300) 100%);
		@extend %flex-column;
		justify-content: space-between;
		padding: 8rem;

		h2 {
			margin-top: 6.4rem;
		}

		p {
			margin-top: 2.4rem;
		}

		footer {
			@extend %flex-column;
		}
	}

	.leaflet-container {
		z-index: z-index('basement');
	}

	.create {
		@include absolute(right 4rem bottom 4rem);
		@extend %flex-center;
		@include size(6.4rem);
		@include border-radius(2rem);
		background-color: var(--blue-200);
		transition: .2s;
		z-index: z-index('sidewalk');

		&:hover {
			background-color: var(--blue-500);
		}
	}

	.map-popup {
		.leaflet-popup-content-wrapper {
			box-shadow: none;
			@include border-radius(2rem);
			background: rgba(var(--white-rgb), .8);
		}

		.leaflet-popup-content {
			margin: .8rem 1.2rem;
			@extend %flex-center;

			a {
				@include size(4rem);
				background: var(--blue-200);
				box-shadow: 1.7rem 2.7rem 4.1rem rgba(23, 142, 166, .16);
				@include border-radius(1.2rem);
				@extend %flex-center;
				margin-left: 1.5rem;
			}
		}

		.leaflet-popup-tip-container {
			display: none;
		}
	}
}